{% extends 'base.html' %}
{% block content %}
<h1>{{retaurants}}</h1>
<h4>Description: {{retaurants.content}}</h4>
<h4>Rating: {{retaurants.rating}}</h4>
<h4>Contact us: {{retaurants.contact}}</h4>

<p>
    <b>Cuisines: </b>
    {% for cuim in cuision_names %}
        <li><a href='{{cuim.id}}/cuisines/'>{{cuim}}</li></a>
        
    {% endfor %}<br>
    

    
  
</p>

<h3>Menu Items: </h3>
<table border=1px>
<tr>
    <th>Items</th>
    <th>Price</th>
    <th>Cuisines type</th>
    <th>Type</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
{% for cui in menu_name %}<!--menu_name-->
    <tr>
        <td><a href="../items/{{cui.id}}">{{cui}}</a></td>
        <td>{{cui.price}}</td>
        <td>{{cui.cuision_type}}</td>
        <td>{{cui.ven}}</td>
        <td><a href="{{cui.id}}/update/">Edit</a></td>
        <td><a href="{{cui.id}}/delete/">Delete</a></td>
        
    </tr>


{% endfor %}
    <tr>
        <td colspan="6" ><a href="create/">add MenuItem</a></td>
      
    </tr>
</table>
<h3><a href="../../"><-Retaurants</a></h3>
{% endblock content %}